<h1 class="headline">
    {{title}}
</h1>
<p>
    Welcome to {{title}}
</p>

<button id="push-subscribe" class="btn btn--primary">
    Subscribe
</button>

<p class="body body--primary">
    By clicking on subscribe button, you will recive a push notification after 30s. Click on the<br/>
    notification, will focus or open the current tab (depending if tab is already open).<br/>
    Our API does not store any subscription details, so we will not be able to send you any <br/>
    pushes later nor do we save any of your data.
</p>