<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel="manifest" href="/manifest.json" />
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    {{{body}}}
  <script src="/javascripts/push.js"></script>
  </body>
</html>
